@import "tailwindcss";

/* HeroUI */
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
/* #END HeroUI */

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@theme {
  --color-black: #111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #111111;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), "Helvetica Neue", Arial, Helvetica, sans-serif;
}
